- if model.errors.any?
  .form_errors
    %h2="#{pluralize(model.errors.count, 'error')} prevented this record from being saved:"
    %ul
      - model.errors.full_messages.each do |message|
        %li=message
