=form_for page do |f|
  = render 'shared/form_errors', model: page
  %p.form-group
    =f.label :title
    =f.text_field :title
  %p.form-group
    =f.label :uri, 'Page location', placeholder: '/my_new_page'
    =f.text_field :uri
  %p.form-group
    =f.label :in_menu, 'Shown in menu?'
    =f.check_box :in_menu
  %p.form-group
    =f.label :body
    =f.text_area :body, class: 'tinymce', rows: 20, cols: 80
    =tinymce
  %p.form-group
    =f.submit page.id.present? ? 'Update' : 'Save'
