html, body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #ccc;
  padding: 0.5em 0;

  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    padding-right: 0.5em;
  }

  a {
    text-decoration: none;
  }
}
